.galaxy-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.galaxy-container::after {
    display: block;
    position: relative;
    z-index: 1;
    height: 50px;
    content: '';
    margin-top: -45px;
    filter: blur(15px);
    background: linear-gradient(to bottom,
            rgba(var(--bg-color), 1) 0%,
            rgba(var(--bg-color), .75) 20%,
            rgba(var(--bg-color), .5) 40%,
            rgba(var(--bg-color), .75) 80%,
            rgba(var(--bg-color), .1) 100%);
}